.button{
  width : 100%;
  border: none;
  background-color: lightblue;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.button:hover{
  background-color: #e7e7e7;
  color: black;
}
body {
  background-color: #d9e6f2;
  font-family: sans-serif, verdana;
}
table {
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}


}