<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee">
  <!-- <display-name>Archetype Created Web Application</display-name>  
  <init-param>
 		<param-name>contextConfigLocation</param-name>
 		<param-value>/WEB-INF/contact-servlet.xml</param-value>
	</init-param>
   <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener> -->
  <servlet>
	<servlet-name>contact</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>contact</servlet-name>
	<url-pattern>/</url-pattern>
</servlet-mapping>
</web-app>