<html xmlns:th="http://www.thymeleaf.org">
<h1>Login</h1>
<body>
<form action="#" th:action="@{/login}" th:object="${owner}" method="post">
    <table>
            <tr>
               <td>Username</td>
               <td><input type="text" th:field="*{username}" id="username" placeholder="Username"></td>
            </tr>
            <tr>
               <td>Password</td>
               <td><input type="text" th:field="*{password}" id="name" placeholder="Password"></td>
            </tr>
            <tr>
            <td><input type="submit" value="Login"></td>
            </tr>
            <td>
            <a th:href="@{/registeration}"></a>
            </td>
            <tr>
            </table>
     </form>
</body>
</html>