<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customer Profile</title>
</head>
<body>
<h3>Customer Profile</h3>
<form th:action="@{/editCustomerProfile/{id}(id=${customer.id})}" th:object="${customer}"method="post">
<table>
	<tr>
		<td><label>Name:</label></td>
		<td><input type="text" th:field="*{name}" id="name"></input></td>
	</tr>

	<tr>
		<td><p>Address:</p></td>
		<td><textarea rows="4" cols="50" th:field="*{address}" ></textarea></td>
	</tr>
	
	<tr>
		<td><label>Mobile number:</label></td>
		<td><input type="text" th:field="*{mobileNo}" id="mobileNo"></input></td>
	</tr>
	
	<tr>
		<td><label>State:</label></td>
		<td><input type="text" th:field="*{state}" id="state"></input></td>
	</tr>
	
	<tr>
		<td><label>Nationality:</label></td>
		<td><input type="text" th:field="*{nationality}" id="nationality"></input></td>
	</tr>
	<input type="hidden" th:field="*{password}" id="password"></input></td>
	<input type="hidden" th:field="*{username}" id="username"></input></td>
	<input type="hidden" th:field="*{type}" id="type"></input></td>
	
</table>
<button>Update</button>
    </form>
</body>
</html>